/* Utilities */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.clear {
  clear: both;
}
/* Reset */
body,
.account-masthead,
.masthead,
[role="main"],
.main,
.site-footer {
  background-image: none;
  background-color: #005500;
}
body {
  font-size: 14px;
}
/* Buttons */
.btn {
  background-image: none;
  box-shadow: none;
  font-size: 13px;
  line-height: 16px;
  padding: 3px 8px;
  text-shadow: none;
  background-color: #005500;
  border-color: #005500;
  color: #ffffff;
}
.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #008800;
  border-color: #008800;
}
.btn-primary,
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #005500;
  border-color: #005500;
  color: #ffffff;
}
.btn-primary:hover,
.btn-group.open .btn-primary.dropdown-toggle:hover,
.btn-primary:focus,
.btn-group.open .btn-primary.dropdown-toggle:focus {
  color: #ffffff;
  background-color: #008800;
  border-color: #008800;
}
.btn-success {
  background-color: #005500;
  border-color: #005500;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus {
  color: #ffffff;
  background-color: #008800;
  border-color: #008800;
}
.btn-warning {
  background-color: #005500;
  border-color: #005500;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus {
  color: #ffffff;
  background-color: #008800;
  border-color: #008800;
}
.btn-danger {
  background-color: #005500;
  border-color: #005500;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus {
  color: #ffffff;
  background-color: #008800;
  border-color: #008800;
}
/* Structure */
