{% ckan_extends %}

{% block package_notes %}

  {% if pkg.get('reference-period-start') and pkg.get('reference-period-end') %}
    <p>From {{ pkg['reference-period-start'] }} to {{ pkg['reference-period-end'] }}</p>
  {% elif pkg.get('reference-period-start') %}
    <p>{{ pkg['reference-period-start'] }}</p>
  {% elif pkg.get('reference-period-end') %}
    <p>{{ pkg['reference-period-end'] }}</p>
  {% endif %}

  {% if pkg.category %}
    <ul class="categories">
      <li>{{ h.first_level_category(pkg.category) }}</li>
      <ul>
        <li>{{ h.second_level_category(pkg.category) }}</li>
      </ul>
    </ul>
  {% endif %}

  {% if pkg.purpose %}
    <div class="notes embedded-content purpose">
      {{ pkg.purpose }}
    </div>
  {% endif %}

{% endblock %}

{% block package_additional_info %}

  <div class="notes embedded-content">
    <h2>Survey / Administrative Source</h2>
    {{ pkg.zzz_administrative_source }}
  </div>

  <div class="module module-narrow module-shallow context-info">
    <h2 class="module-heading">SG Data Record Identifier</h2>
    <section class="module-content">
      {{ pkg.id }}
    </section>
  </div>

  {% for name, title in (('coverage', 'Coverage'),
                         ('conditions_of_use', 'Conditions of Use'),
                         ('comments', 'Comments'),
                         ('available-from', 'Available From'),
                        ) %}
    {% if pkg.get(name) %}
      <h2>{{ title }}</h2>
      {{ pkg[name] }}
    {% endif %}
  {% endfor %}

  <footer>
    Last metadata update date: {{ h.render_datetime(pkg.metadata_modified) }} | 
    {% set last_updater = h.last_update_by(pkg) %}
    {% if last_updater %}
      Last update by: <a href="{{ h.url_for(controller='user', action='read', id=last_updater.name) }}">{{ last_updater.display_name }}</a>
    {% endif %}
  </footer>
{% endblock %}
