{% ckan_extends %}

{% block package_notes %}
  {% if c.pkg_notes_formatted %}
    <div class="notes embedded-content">
      <h2>Purpose</h2>
      {{ c.pkg_notes_formatted }}
    </div>
  {% endif %}

  <div class="notes embedded-content">
    <h2>Survey / Administrative Source</h2>
    {{ pkg.administrative_source }}
  </div>

  {% if pkg.get('reference-period-start') and pkg.get('reference-period-end') %}
    <h2>Reference Period</h2>
    From {{ pkg['reference-period-start'] }} to {{ pkg['reference-period-end'] }}
  {% elif pkg.get('reference-period-start') %}
    <h2>Reference Period</h2>
    {{ pkg['reference-period-start'] }}
  {% elif pkg.get('reference-period-end') %}
    <h2>Reference Period</h2>
    {{ pkg['reference-period-end'] }}
  {% endif %}

  {% if pkg.get('available-from') %}
    <h2>Available From</h2>
    {{ pkg['available-from'] }}
  {% endif %}

  {% if pkg.get('type_of_data_collection') %}
    <h2>Type of Data Collection</h2>
    {{ pkg.type_of_data_collection[0] }}
  {% endif %}

  {% if pkg.get('status') %}
    <h2>Status</h2>
    {{ pkg.status[0] }}
  {% endif %}
{% endblock %}
