{% ckan_extends %}

{% block package_basic_fields_description %}
  {{ form.markdown('notes', id='field-notes', label=_('Purpose'),
                   placeholder=_('eg. Data on Electricity Generation as well as Licensed Electrical Workers are collected for regulatory purposes.'),
                   value=data.notes, error=errors.notes) }}

  <div class="control-group control-full">
    <label class="control-label" for="field-administrative-source">Survey / Administrative Source</label>
    <div class="controls editor">
      <textarea id="field-administrative-source" rows="5" cols="20"
                name="administrative_source">{{ data.administrative_source }}</textarea>
      {% if errors.administrative_source and errors.administrative_source is iterable %}
        <span class="error-block">{{ errors.administrative_source|join(', ') }}</span>
      {% endif %}
      <span class="editor-info-block">
        {% trans %}The source of the data - the name of the survey or
        administrative register. For survey source, indicate the name of the
        survey, e.g., Quarterly Business Expectations Survey for the Services
        Sector.  For administrative source, indicate the name of system where
        individual records are stored or maintained.{% endtrans %}
      </span>
    </div>
  </div>
{% endblock %}
