{% import 'macros/form.html' as form %}
{% set action = c.form_action or '' %}

{% macro required(is_required) %}
  {% if is_required %}<span title="{{ _("This field is required") }}" class="control-required">*</span> {% endif %}
{% endmacro %}

{% macro textarea(name, label, help='', rows=5, cols=20, is_required=False, disabled=False) -%}
  <div class="control-group control-full">
    <label class="control-label" for="field-{{ name }}">{{ required(is_required) }}{{ label }}</label>
    {% if help %}<a href="#" data-toggle="tooltip" title="{{ help }}" class="tip"><i class="icon-question-sign"></i></a>{% endif %}
    <div class="controls">
      <textarea id="field-{{ name }}" rows="{{ rows }}" cols="{{ cols }}"
                name="{{ name }}" style="margin-bottom:0;"
                {% if disabled %}disabled{% endif %}>{{ data[name] }}</textarea>
      {% if errors[name] and errors[name] is iterable %}
        <span class="error-block">{{ errors[name]|join(', ') }}</span>
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro datepicker(name, label, disabled=False, value='') -%}
  <div class="small control-group">
    <label class="control-label" for="field-{{ name }}">{{ label }}</label>
    <a href="#" data-toggle="tooltip" title="The date on which the metadata will be made available." class="tip"><i class="icon-question-sign"></i></a>
    <div class="controls">
      <input type="date" id="field-{{ name }}" name="{{ name }}"
             class="datepicker" value="{{ value or data[name] }}"
             {% if disabled %}disabled{% endif %}>
      
    </div>
  </div>
{% endmacro %}

{% macro select(name, label, options, is_required=False, disabled=False, value='', help='') -%}
  <div class="small control-group">
    <label class="control-label" for="field-{{ name }}">{{ required(is_required) }}{{ label }}</label>
    {% if help %}<a href="#" data-toggle="tooltip" title="{{ help }}" class="tip"><i class="icon-question-sign"></i></a>{% endif %}
    <div class="controls">
      <select id="field-{{ name }}" name="{{ name }}"
              {% if disabled %}disabled{% endif %}>
        {% for option in options %}
          <option {% if option == value %}selected{% endif %}>
            {{ option }}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endmacro %}

{% macro input(name, label, type='text', placeholder='', help='', is_required=False, disabled=False, classes='', attrs='') -%}
  {% set error = errors[name] %}
  <div class="control-group{% if error %} error{% endif %}{% if classes %} {{ classes }}{% endif %}">
    <label class="control-label" for="field-{{ name }}">{{ required(is_required) }}{{ label }}</label>
    {% if help %}<a href="#" data-toggle="tooltip" title="{{ help }}" class="tip"><i class="icon-question-sign"></i></a>{% endif %}
    <div class="controls">
    <div class="controls">
      <input type="{{ type }}" id="field-{{ name }}" name="{{ name }}"
             style="margin-bottom:0;"
             {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
             value="{{ data[name] }}"
             {% if disabled %}disabled{% endif %}
             {% if attrs %}{{ attrs }}{% endif %}>
      {% if error and error is iterable %}<span class="error-block" style="width:204px;">{{ error|join(', ') }}</span>{% endif %}
    </div>
  </div>
{% endmacro %}

<form class="dataset-form" method="post" action="{{ action }}" data-module="basic-form">
  {% block stages %}
    {{ h.snippet('package/snippets/stages.html', stages=stage) }}
  {% endblock %}

  <input type="hidden" name="_ckan_phase" value="dataset_new_1" />
  {# pkg_name used in 3 stage edit #}
  <input type="hidden" name="pkg_name" value="{{ data.id }}" />

  {{ form.errors(error_summary) }}

  <p class="control-required-message">
    <span class="control-required">*</span> {{ _("Denotes required fields.") }}
  </p>

  {{ form.input('title', id='field-title', label=_('Title'),
                placeholder=_('eg. Business Expectations for the Services Sector (Forecast for Next Six Months)'),
                value=data.title, error=errors.title,
                classes=['control-full', 'control-large'],
                attrs={'data-module': 'slug-preview-target'},
                is_required=True) }}
  {% set prefix = h.url_for(controller='package', action='read', id='') %}
  {% set domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
  {% set domain = domain|replace("http://", "")|replace("https://", "") %}
  {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<dataset>'} %}
  {{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-dataset'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}

  {% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
  {% set dataset_has_organization = data.owner_org or data.group_id %}
  {% set organizations_available = h.organizations_available('create_dataset') %}
  {% set user_is_sysadmin = h.check_access('sysadmin') %}
  {% set show_organizations_selector = organizations_available and (user_is_sysadmin or dataset_is_draft) %}
  {% set show_visibility_selector = dataset_has_organization or (organizations_available and (user_is_sysadmin or dataset_is_draft)) %}
  {% set can_create_unowned_datasets = h.check_config_permission('create_unowned_dataset') %}
  {% set existing_org = data.owner_org or data.group_id %}
  
  {{ textarea('notes', _('Purpose'),
              help=_('Circumstance, context, and perspective under which data is defined or used. E.g., Data on Electricity Generation as well as Licensed Electrical Workers are collected for regulatory purposes.'))}}
              
  <div class="medium control-group">
    <label class="control-label" for="field-reference-period-start">Reference Period</label>
    <a href="#" data-toggle="tooltip" title="{{ _('The period of time or point in time to which the data is intended to refer.') }}" class="tip"><i class="icon-question-sign"></i></a>
    <div class="controls">
      <div style="float:left;">
        <input style="margin-bottom:0;" type="date"
               name="reference-period-start"
               id="field-reference-period-start" class="datepicker"
               value="{{ data['reference-period-start'] }}">
        {% if errors['reference-period-start'] %}
          <span class="error-block" style="width:204px;">
            {{ errors['reference-period-start']|join(', ') }}
          </span>
        {% endif %}
      </div>
      <label class="to" for="field-reference-period-end">to</label>
      <div style="float:left;">
        <input style="margin-bottom:0;" type="date" name="reference-period-end"
               id="field-reference-period-end" class="datepicker"
               value="{{ data['reference-period-end'] }}">
        {% if errors['reference-period-end'] %}
          <span class="error-block" style="width:204px;">
            {{ errors['reference-period-end']|join(', ') }}
          </span>
        {% endif %}
      </div>
      <div style="clear:both;"></div>
    </div>
  </div>

  {{ datepicker('available-from', 'Available From', value=(data.get('available-from') or h.today())) }}

  <div class="small control-group">
    <label class="control-label" for="field-category">{{ required(True) }}{{ _('Category') }}</label>
    <div class="controls">
      <select id="field-category" name="category">
        {% for category in h.categories() %}
          <optgroup label="{{ category.label }}">
            {% for subcategory in category.categories.values() %}
              <option value="{{ subcategory.value }}" {% if subcategory.value == data.get('category') %}selected{% endif %}>{{ subcategory.label }}</option>
            {% endfor %}
          </optgroup>
        {% endfor %}
      </select>
    </div>
  </div>

              
  <div class="small control-group">
    <label for="field-organizations" class="control-label">{{ required(True) }}{{ _('Metadata Creation Agency') }}</label>
    <a href="#" data-toggle="tooltip" title="{{ _('The agency of the data manager who published the data.') }}" class="tip"><i class="icon-question-sign"></i></a>
    <div class="controls">
      <select id="field-organizations" name="owner_org" data-module="autocomplete">
        {% if can_create_unowned_datasets %}
            <option value="" {% if not selected_org and data.id %}selected="selected"{% endif %}>{{ _('No agency') }}</option>
        {% endif %}
        {% for organization in organizations_available %}
          {# get out first org from users list only if there is not an existing org #}
          {% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and not data.id and organization.id == organizations_available[0].id) %}
          <option value="{{ organization.id }}" {% if selected_org %}selected="selected"{% endif %}>{{ organization.title }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {% if show_visibility_selector %}
    {% block package_metadata_fields_visibility %}
      <div class="small control-group">
        <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
        <div class="controls">
          <select id="field-private" name="private">
            {% for option in [('True', _('Private')), ('False', _('Public'))] %}
            <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    {% endblock %}
  {% endif %}



  
  {{ select('type_of_data_collection', 'Type of Data Collection',
            h.types_of_data_collection(), is_required=True,
            value=data.get('type_of_data_collection')[0],
            help=_('The main process used in the collection of statistical data by the compiling agency.')) }}

  {{ select('status', 'Status',
            h.statuses(), is_required=True,
            value=data.get('status')[0],
            help=_('The current state of the data.')) }}

  {{ select('frequency', 'Frequency',
            h.frequencies(), is_required=True,
            value=data.get('frequency')[0],
            help=_('The time interval at which observations occur.')) }}

  {{ textarea('zzz_administrative_source', 'Survey / Administrative Source',
              _('The source of the data - the name of the survey or '
                'administrative register. For survey source, indicate the '
                'name of the survey, e.g., Quarterly Business Expectations '
                'Survey for the Services Sector. For administrative source, '
                'indicate the name of system where individual records are '
                'stored or maintained.'),
              is_required=True)}}

  {{ textarea('coverage', 'Coverage',
              _('The definition of the population that statistics aim to cover. The term "coverage" encompasses the descriptions of key dimensions delimiting the statistics produced, e.g. geographical, institutional, product, economic sector, industry, occupation, transaction, etc., as well as relevant exceptions and exclusions.  It describes data compiled rather than characteristics of the survey. E.g., for Business Expectations Survey for Services Sector, the survey covers all enterprises engaged in services activities but excludes government ministries & departments, statutory boards, independent artistes and other individual self-employed persons (e.g. taxi drivers, hawkers). Firms in the community, social & personal services are also excluded. Sample size is about 1.5% of the population.'),
              is_required=True)}}

  <div class="control-group control-full{% if errors.keywords %} error{% endif %}">
    <label class="control-label" for="field-tags">{{ required(True) }}Keywords</label>
    <a href="#" data-toggle="tooltip" title="{{ _('One or more words that capture the essence of the data or its metadata profile for easy retrieval.') }}" class="tip"><i class="icon-question-sign"></i></a>
    <div class="controls">
      <input id="field-tags" type="text" name="tag_string"
             value="{{ data.tag_string }}"
             placeholder="{{ _('eg. services, business expectations, industry, BES') }}"
             data-module="autocomplete" data-module-tags
             data-module-source="/api/2/util/tag/autocomplete?incomplete=?">
      {% if errors.keywords and errors.keywords is iterable %}
        <span class="error-block" style="width:504px;">{{ errors.keywords|join(', ') }}</span>
      {% endif %}
    </div>
  </div>

  {{ select('security_classification', 'Security Classification',
            h.security_classifications(), is_required=True,
            value=data.get('security_classification')[0],
            help=_('The extent to which the unauthorised disclosure of the data could be prejudicial or harmful to the interests of the source or other relevant parties.')) }}

  {{ select('data_granularity', 'Data Granularity',
            h.data_granularities(), is_required=True,
            value=data.get('data_granularity')[0],
            help=('The level of granularity of the data. Aggregated data is the result of transforming unit level data into quantitative measures for a set of characteristics of a population. Individual record refers to non-aggregated obervations or measurements of characteristics of an individual or entity (e.g., specific records which could relate to a person, company or activity, such as details of individual NRIC holders; profiles of individual businesses and companies, etc).')) }}

  {{ select('publish_on_data_gov_sg', 'Publish on Data.gov.sg',
            h.publish_on_data_gov_sg(), is_required=True,
            value=data.get('publish_on_data_gov_sg')[0],
            help=('Whether the metadata can be shared with the public.')) }}

  {{ textarea('conditions_of_use', 'Conditions of Use',
              _('The means and conditions under which data can be viewed or used. It also refers to terms, copyright issues and confidentiality constraints related to how the data can be used. E.g., Data can be released to Government Ministries without consultation. Approval is needed for Statutory Boards.'),
              is_required=True)}}

  {# TODO: Add optional dropdown autocompletes to this. #}
  {{ input('unit_of_measure', 'Unit of Measure',
           is_required=True,
           help=_('The unit in which the data values are measured. The unit of measure is a quantity or increment by which something is counted or described, such as kg, mm, °C, °F, monetary units such as SGD or US dollar, simple number counts or index numbers.')) }}

  {{ textarea('comments', 'Comments',
              _('Supplementary descriptive text which can be attached to data or metadata. This includes text that is intended to provide users with explicit information on the appropriate use of the statistics within the limitations imposed by the definition or main concepts, scope and coverage, collection methodology etc. E.g., Base year, statistical standards/classification.  Comments can also includes details of where Technical Notes can be found, e.g., the website where it is hosted.'))}}

  {{ input('agency_record_identifier', 'Agency Record Identifier',
           help=_('An alpha-numeric sequence which public sector agencies are currently using within their agencies to uniquely identify the associated data.')) }}

  {{ input('data_provider', 'Data Provider / Distributor',
           is_required=True,
           help=_('The agency which produces the data or metadata. E.g. labour productivity is computed and disseminated by DOS but it is based on data from MOM which is the compiling agency.')) }}

  {{ input('data_provider_contact_name', 'Contact Name', is_required=True) }}
  {{ input('data_provider_contact_designation', 'Contact Designation',
           is_required=True) }}
  {{ input('data_provider_contact_department', 'Contact Department',
           is_required=True) }}
  {{ input('data_provider_contact_telephone_number',
           'Contact Telephone Number', is_required=True, type='tel') }}
  {{ input('data_provider_contact_email_address', 'Contact Email Address',
           is_required=True, type='email') }}

  {{ input('data_provider_alternate_contact_name', 'Alternate Contact Name',
           is_required=True) }}
  {{ input('data_provider_alternate_contact_designation',
           'Alternate Contact Designation', is_required=True) }}
  {{ input('data_provider_alternate_contact_department',
           'Alternate Contact Department', is_required=True) }}
  {{ input('data_provider_alternate_contact_telephone_number',
           'Alternate Contact Telephone Number', is_required=True,
           type='tel') }}
  {{ input('data_provider_alternate_contact_email_address',
           'Alternate Contact Email Address', is_required=True,
           type='email') }}

  {{ input('data_compiler', 'Data Compiler / Source (if different from Data Provider / Distributor)',
           help=_('The agency compiling the data being reported.')) }}
  {{ input('data_compiler_contact_name', 'Contact Name') }}
  {{ input('data_compiler_contact_designation', 'Contact Designation') }}
  {{ input('data_compiler_contact_department', 'Contact Department') }}
  {{ input('data_compiler_contact_telephone_number', 'Contact Telephone Number',
           type='tel') }}
  {{ input('data_compiler_contact_email_address', 'Contact Email Address',
           type='email') }}

  <div class="form-actions">
    <p class="action-info small">
      {%- trans -%}
      Important: By submitting content, you
      agree to release your contributions under the Open Database
      License.
      {%- endtrans -%}
    </p>
    {% block delete_button %}
      {% if h.check_access('package_delete', {'id': data.id}) and not data.state == 'deleted' %}
        {% set locale = h.dump_json({'content': _('Are you sure you want to delete this dataset?')}) %}
        <a class="btn btn-danger pull-left" href="{% url_for controller='package', action='delete', id=data.id %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
      {% endif %}
    {% endblock %}
    <button class="btn btn-primary" type="submit" name="save">{% block save_button_text %}{{ _('Next: Link to data files') }}{% endblock %}</button>
  </div>
</form>
