{% ckan_extends %}

  {% block image %}
    <div class="media-image" style="background-image:url({{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }})">
      <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" alt="{{ organization.name }}">
    </div>
  {% endblock %}
  {% block title %}
    <h3 class="media-heading">{{ h.markdown_extract(organization.display_name, extract_length=40) }}</h3>
  {% endblock %}
  